/* .homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0; 
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.carousel img {
  max-width: 700px; 
  height: auto; 
  object-fit: cover; 
}
 */

 .video-container {
    display: flex;
    justify-content: flex-end;
    padding: 29px;
  }
  
  .rounded-video {
    border-radius: 15px; /* Adjust the radius as needed */
    width: 100%; /* Make the video responsive */
    max-width: 650px; /* Set a maximum width if needed */
    height: auto; /* Maintain aspect ratio */
  }
  
   .homepage {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #bf4d4dd1; 
  }
  
  .carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
  }
  
  .carousel img {
    max-width: 800px; 
    /* increase carasol size (width) */
    height: auto; 
    object-fit: cover; 
  }